<!DOCTYPE html>
<html>
    <head>
        <link href="default.css" rel="stylesheet"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>
    </head>
    <body>
        <h1>{{ message }}</h1>
        <form id="form1" method="POST">
            <label for="name1">Name 1:</label>
            <input type="text" id="name1" name="name1">
            <input type="hidden" id="csrf" name="csrf" value="{{ csrf }}">
            <input type="submit">
        </form>
        <br>
        <form id="form2" method="POST">
            <label for="name2">Name 2:</label>
            <input type="text" id="name2" name="name2">
            <input type="submit">
        </form>
    </body>
</html>